.btn {
    border: none;
    border-radius: 5px;
    font-weight: 700;
    outline: none;
}

.btn-primary {
    background-color: $brand-orange;
    border: none;
    &:hover,
    &:focus,
    &.focus {
        background-color: darken($brand-orange, 10%);
        border: none;
        box-shadow: none !important;
        outline: none;
    }
}

.btn-secondary {
    background-color: $brand-blue;
    border: none;
    &:hover,
    &:focus,
    &.focus {
        background-color: darken($brand-blue, 5%);
        border: none;
        box-shadow: none !important;
        outline: none;
    }
}

.btn-dark {
    background-color: $brand-dark-blue;
    border: none;
    &:hover,
    &:focus,
    &.focus {
        background-color: darken($brand-dark-blue, 5%);
        border: none;
        box-shadow: none !important;
        outline: none;
    }
}
