// Sections

.section--dark-blue {
    background-color: $brand-dark-blue;
}

.section--blue {
    background-color: $brand-blue;
}

.section--purple {
    background-color: $brand-purple;
}

.section--white {
    background-color: $white;
}

@mixin addBorders($border-color) {
    div[class*=' col'],
    div[class^='col'] {
        border-bottom: 1px solid $border-color;
        padding-bottom: $base-spacing-unit;
        padding-top: $base-spacing-unit;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
        &:first-child {
            padding-top: 0px;
        }
    }

    @include media-breakpoint-up(lg) {
        div[class*=' col'],
        div[class^='col'] {
            border-bottom: none;
            border-left: 1px solid $border-color;
            padding-bottom: 0;
            padding-top: 0;
            &:first-child {
                border-left: none;
            }
        }
    }
}

@mixin sectionSpacing($spacing) {
    padding: $spacing 0;
}

$spacing-sm: $base-spacing-unit; // 20px
$spacing-md: $base-spacing-unit * 2; // 40px
$spacing-lg: $base-spacing-unit * 3; // 60px
$spacing-xl: $base-spacing-unit * 4; // 80px

@mixin sectionColor($color) {
    background-color: $color;
}

// .section--padding-sm {
//     padding: $base-spacing-unit 0; // 20px
// }

// .section--padding-md {
//     padding: $base-spacing-unit * 2 0; // 40px
// }

// .section--padding-lg {
//     padding: $base-spacing-unit * 3 0; // 60px
// }

// .section--padding-xl {
//     padding: $base-spacing-unit * 4 0; // 80px
// }
