@include media-breakpoint-up(xl) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1290px !important;
    }
}

.container {
	section {
		padding-left: $base-spacing-unit*2;
		padding-right: $base-spacing-unit*2;
	}
}
