// Brand Colors
$white: #fff;
$brand-purple: #89338a;

$base-spacing-unit: 1.25rem; // 20px/16px;
$grid-gutter-width: 2rem !default; // 72px/16px (32px each side)

$brand-orange: #f37f4c;
$brand-blue: #0071ce;
$brand-med-blue: #2b3990;
$brand-dark-blue: #001c71;
